//global
$white: #ffffff;
$gray: #615946;
$light-gray: #f7f7f7;

//font color
$link-font: #1c344e;
$main-font: #615946;
$main-hover: #B2A380;

//icons
$whitespace: #ffffff;
$iconhover: #615946;

//current green
$iconfill: #92C46D;
$main: #92C46D;
$green-hover: #A5CE87;

//comptroller orange
// $iconfill: #ff5335;
// $main: #ff5335;

// //comptroller blue
// $iconfill: #337ab7;
// $main: #337ab7;

$iconfill-secondary: #4A473C;


//snapshot colors
$snapshot-blue: #448f99;
$snapshot-blue-light: #53a9b5;

$snapshot-yellow: #e0ca7b;
$snapshot-yellow-light: #ead99a;

$snapshot-maroon: #632c45;
$snapshot-maroon-light: #8c2f59;
