//global
$white: #ffffff;
$gray: #615946;
$light-gray: #b1ada5;
$nav-gray: #f4f5f5;
$border-gray: #b1b0ad;
$header-gray: #aeb6bc;
$table-row: #eff2f4;

//font color
$link-font: #1c344e;
$main-font: #49463b;
$main-hover: #697884;

//new color
$navlink: #D9D9D9;

//icons
$whitespace: #ffffff;
$iconhover: #434D54;

//current green
// $iconfill: #92C46D;
// $main: #92C46D;

//conservative teal-green
// $main: #6c918e;
// $iconfill: #6c918e;

//conservative gray-blue
$main: #697884;
$iconfill: #697884;

// $main-font: #ffffff;

$iconfill-secondary: #4A473C;


//snapshot colors
$snapshot-blue: #448f99;
$snapshot-blue-light: #53a9b5;

$snapshot-yellow: #e0ca7b;
$snapshot-yellow-light: #ead99a;

$snapshot-maroon: #632c45;
$snapshot-maroon-light: #8c2f59;
