//global
$white: #ffffff;
$gray: #615946;
$light-gray: #f7f7f7;

//font color
$link-font: #1c344e;
$main-font: #615946;
$main-hover: #B2A380;

//icons
$whitespace: #ffffff;
$iconhover: #615946;

//current green
$iconfill: #92C46D;
$main: #92C46D;

//comptroller orange
// $iconfill: #ff5335;
// $main: #ff5335;

// //comptroller blue
// $iconfill: #337ab7;
// $main: #337ab7;

$iconfill-secondary: #4A473C;
