div.simple-data-table {


  table {
    border-collapse: collapse;
    width: 100%;
  }

  tbody {
    border-top: none;
  }

  div.simple-data-table-header {
    color: #697884;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  tr {
    background: #ffffff;

    &:hover {
      background-color: #f4f5f5;
    }
  }

  th.dollar-heading,
  th.number-heading,
  th.percent-heading {
    background-color: #697884;
    border: none;
    font-size: 0.75em;
    line-height: 10px;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.5;
    white-space: nowrap;
    color: #ffffff;
    font-weight: bold;
  }

  th.date-heading,
  th.text-heading {
    background-color: #697884;
    border: none;
    font-size: 0.75em;
    line-height: 10px;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-top: 1em;
    text-align: left;
    text-transform: uppercase;
    opacity: 0.5;
    white-space: nowrap;
    color: #ffffff;
    font-weight: bold;
  }

  td.dollar-column,
  td.number-column,
  td.percent-column {
    border-top: 1px solid #e9e9e7;
    font-size: 11px;
    line-height: 30px;
    padding-left: 1em;
    padding-right: 3em;
    text-align: right;
  }

  td.date-column,
  td.text-column {
    border-top: 1px solid #e9e9e7;
    font-size: 11px;
    line-height: 30px;
    padding-left: 1em;
    text-align: left;
  }

  div.simple-data-table-links {
    float: right;
  }

  div.simple-data-table-links > div {
    display: flex;
  }

  div.simple-data-table-export-link {
    @include export-ico($iconfill);
    background-position-y: 5px;
    background-position-x: 0px;
    background-size: 11px;
  }

  a.simple-data-table-export-link {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding-left: 15px;
    text-transform: uppercase;
    text-decoration: none;
  }

  div.simple-data-table-details-link {
    @include plus-ico($iconfill);
    margin-left: 12px;
    background-position-y: 5px;
    background-position-x: 0px;
    background-size: 11px;
  }

  a.simple-data-table-details-link {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding-left: 15px;
    text-transform: uppercase;
    text-decoration: none;
  }
}