div.home {
  display: block;
  margin: auto;
  max-width: 1024px;
  padding: 8%;

  .home__logo {
    height: 90px;
    width: auto;
    @extend %main-logo;
  }

  .search {
    margin-top: 35px;
    position: relative;
    z-index: 0;

    .search-icon {
      @extend %search-ico;
      background-size: 22px;
      display: block;
      height: 22px;
      left: 15px;
      position: absolute;
      top: 7px;
      width: 22px;
    }

    .search__input {
      border-radius: 5px;
      border: 0.5px solid #bdbdbd;
      display: block;
      font-family: "Lato";
      font-size: 1em;
      height: 35px;
      padding: 0 45px 2px;
      width: 100%;
      @include placeholder {
        // color: $main-font;
        color: $light-gray;
        font-size: 0.9em;
        font-style: italic;
        font-weight: 300;

        &:focus {
          color: transparent;
        }
      }
    }

    .search__input-options {
      color: $main-font;
      font-size: 12px;
      letter-spacing: 0.4px;
      list-style: none;
      margin-top: 5px;
      text-align: right;
      text-transform: uppercase;

      li {
        color: $search-link;
        cursor: pointer;
        display: inline-block;
        height: 21px;
        line-height: 2;
        margin-left: 5px;
        letter-spacing: 0.7px;
        font-weight: 600;
        padding: 0 4px 0 5px;
        transition: 0.25s ease-in-out;

        &:hover {
          color: $main-hover;
        }
        // &:first-of-type:after {
        //   @extend %alert-ico;
        //   content: "";
        //   display: inline-block;
        //   height: 10px;
        //   margin-left: 5px;
        //   width: 10px;
        // }
        &.active {
          background-color: $main;
          color: $white;
        }

        span {
          display: inline-block;
          width: 5px;
        }
      }
    }

    .recommended-search {
      align-content: space-around;
      background-color: $white;
      border-radius: 3px 0 3px 3px;
      border: 1px solid $main;
      display: flex;
      flex-wrap: wrap;
      font-size: 11px;
      margin-top: -12px;
      padding: 5px 0 5px 40px;
      position: relative;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: 0.25s ease-in-out;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .recommended-search__close {
        color: $light-gray;
        cursor: pointer;
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        right: 5px;
        top: -1px;
      }

      span {
        color: $main-font;
        cursor: pointer;
        display: inline-block;
        flex: 1;
        margin: 5px 24px 5px 0;
        min-width: 140px;
        position: relative;
        text-transform: uppercase;

        &:hover {
          color: $main-hover;
        }

        &:before {
          -moz-box-sizing: content-box;
          -webkit-box-sizing: content-box;
          border: 3px solid $main;
          box-sizing: content-box;
          content: "";
          height: 0;
          left: -12px;
          position: absolute;
          top: 4px;
          transform: rotate(45deg);
          width: 0;
        }
      }
    }
  }
}

.domain-icons {
  display: flex;
  margin-top: 21px;
  text-align: center;

  .domain {
    color: $main;
    cursor: pointer;
    flex: 1;
    position: relative;
    text-decoration: none;

    > div:first-of-type {
      height: 50px;
      margin: auto;
      width: 80px;
      transition: 0.25s ease-in-out;

      &.spending-ico {
        @include enterspending-ico($iconfill);

        &:hover {
          @include enterspending-ico($iconhover);

          ~ div {
            color: $iconhover;
          }
        }
      }

      &.budget-ico {
        @include enterbudget-ico($iconfill);

        &:hover {
          @include enterbudget-ico($iconhover);

          ~ div {
            color: $iconhover;
          }
        }
      }

      &.revenue-ico {
        @include enterrevenue-ico($iconfill);

        &:hover {
          @include enterrevenue-ico($iconhover);

          ~ div {
            color: $iconhover;
          }
        }
      }

      &.contracts-ico {
        @include entercontracts-ico($iconfill);

        &:hover {
          @include entercontracts-ico($iconhover);

          ~ div {
            color: $iconhover;
          }
        }
      }

      &.payroll-ico {
        @include enterpayroll-ico($iconfill);

        &:hover {
          @include enterpayroll-ico($iconhover);

          ~ div {
            color: $iconhover;
          }
        }
      }
    }

    div {
      transition: 0.25s ease-in-out;

      &.label {
        font-size: 13px;
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase;
        transition: 0.25s ease-in-out;
      }
    }
  }
}

.domain-select-overlay {
  -webkit-filter: blur(5px);
  background-color: black;
  // bottom: -9em;
  display: block;
  filter: blur(5px);
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;

  &.active {
    visibility: visible;
  }
}
@media only screen and (max-width: 768px) {
  .home__front-links {
    flex-direction: column;
  }

  .home__front-links--bonds,
  .home__front-links--domains {
    padding: 5%;
  }
}
