div.landing {
  margin: 3.5em auto auto;
  max-width: 1024px;
  position: relative;
  padding-bottom: 8%;
  z-index: 1;

  div.landing-head {
    flex: 1;

    span {
      display: block;

      &.page-title {
        color: $main;
        font-size: 2.5em;
        font-weight: bold;
        text-transform: capitalize;
      }

      &.page-subtitle {
        color: $main;
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase;
      }

      &.page-breadcrumb {
        color: $main-font;
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase;
      }
    }
  }

  div.year-filter {
    position: absolute;
    right: 0;
    top: 1em;

    span {
      color: $main-font;
      font-size: 0.9em;
      text-transform: capitalize;
    }
  }

  div.filter {
    background-color: $light-gray;
    border-radius: 0.15em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    margin-top: 1.5em;
    position: relative;
    text-transform: uppercase;

    .subdomain-filter {
      background-color: $white;
      // border-bottom: 1px solid $main-font;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      // position: relative;
      &:before {
        background-color: white;
        border: solid transparent;
        top: 66px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.12), 1px 1px 1px rgba(0, 0, 0, 0.24);
        content: '';
        height: 20px;
        left: 190px;
        pointer-events: none;
        position: absolute;
        transform: rotate(45deg);
        width: 20px;
      }

      .mwbe-filter-button {
        background-color: $main;
        border: none;
        color: $white;
        cursor: pointer;
        font-size: 0.8em;
        height: 17px;
        line-height: 1.6;
        position: absolute;
        right: 183px;
        text-align: center;
        text-transform: uppercase;
        top: 40px;
        width: 369px;

        &:after {
          @include navigation-ico($white);
          background-position: center;
          background-repeat: no-repeat;
          content: "";
          display: inline-block;
          height: 7px;
          margin-left: 5px;
          width: 7px;
        }
        &.active:after {
          @include navigation-ico($white);
          transform: rotate(180deg);
        }

        &:hover {
          background-color: $green-hover;
        }

      }
    }

    .spending-filter,
    .subdomain-filter {
      display: flex;
      flex-direction: row;
      height: 6em;
      overflow: hidden;

      > span {
        color: $main;
        font-weight: bold;
        margin: auto;
        padding: 1em;
      }

      div {
        flex: 1;
        height: 2.5em;
        margin-top: 20px;
        padding: 0 0.5em;
        text-align: center;

        + div {
          border-left: 1px solid $main-font;
        }

        span {
          display: block;

          + span {
            margin-top: 5px;
          }
        }
      }
    }

    .mwbe-filter {
      // height: 20px;
      background-color: $main;
      color: $white;
      display: flex;
      height: 0;
      overflow: hidden;
      width: 100%;
      transition: 0.25s ease-in-out;
      z-index: 1;

      &.active {
        height: 20px;
      }

      div {
        color: #615946;
        cursor: pointer;
        flex: 1;
        font-size: 0.8em;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          color: $main-hover;
        }

        &.active {
          color: $white;
        }
      }
    }
  }

  div.data-visualization {
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 5%;
    min-height: 800px;
    padding: 2em;
    position: relative;
    height: 100%;

    div.domain-label {
      color: $main;
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
    }

    div.snapshots-container {
      height: 200px;

      .snapshots {
        display: flex;
        justify-content: space-between;

        > div {
          display: flex;
          height: 90px;
          margin-top: 2%;
          width: 27.5%;

          div.image {
            flex: 2;
          }

          &.person {
            .image {
              @include person-ico($white);
              background-color: $snapshot-blue;
              background-size: 55px;
            }

            .data {
              background-color: $snapshot-blue-light;
            }
          }

          &.pie {
            .image {
              @include piegraph-ico($gray);
              background-color: $snapshot-yellow;
              background-size: 55px;
            }

            .data {
              background-color: $snapshot-yellow-light;
              color: $gray;
            }
          }

          &.bar {
            .image {
              @include snapshot-bargraph-ico($white);
              background-color: $snapshot-maroon;
              background-size: 55px;
            }

            .data {
              background-color: $snapshot-maroon-light;
            }
          }

          div.data {
            flex: 3;
            color: $white;

            div {
              font-size: 0.75em;
              padding-right: 1em;
              text-align: right;
              text-transform: uppercase;

              + div {
                margin-top: 5px;
              }
            }

            div:first-of-type {
              font-size: 3em;
              padding-right: 0.2em;
              text-align: right;
            }
          }
        }
      }
    }

    div.chart-toggle {
      float: right;
      margin-right: 1em;

      div {
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        height: 30px;
        padding: 0.5em 1em;
        text-transform: uppercase;
        width: 30px;

        &.chart-bar {
          @include bargraph-ico($main-font);
          background-size: 20px;
          transition: 0.1s ease-in-out;

          &:hover {
            background-size: 23px;
          }

          &.active {
            @include bargraph-ico($main);
            background-size: 20px;
          }
        }

        &.chart-line {
          @include linegraph-ico($main-font);
          background-size: 25px;
          transition: 0.1s ease-in-out;

          &:hover {
            background-size: 28px;
          }

          &.active {
            @include linegraph-ico($main);
            background-size: 25px;
          }
        }

        + div {
          margin-left: 10px;
        }
      }
    }

    div#chart1,
    div#chart2 {
      opacity: 0;
      position: absolute;
      transition: 0.5s ease-in-out;
      visibility: hidden;
      margin-top: 2%;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    div#chart1 {
      // visibility: hidden;
    }

    div#chart2 {
      margin-left: 10px;
    }

    div.data-tables-container {
      margin: 55% auto auto;
    }
  }
}

#return-to-top {
  background-color: $main;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: $white;
  display: none;
  font-size: 0.75em;
  height: 60px;
  margin-left: 85.4em;
  padding: 0.6em 1em;
  position: fixed;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  top: 59%;
  width: 68px;
  word-spacing: 50px;
  z-index: 0;
}
