div.landing {
  margin: 3.5em auto auto;
  max-width: 1024px;
  position: relative;
  padding-bottom: 8%;

  div.landing-head {
    flex: 1;

    span {
      display: block;

      &.page-title {
        color: $main;
        font-size: 2.5em;
        font-weight: bold;
        text-transform: capitalize;
      }

      &.page-subtitle {
        color: $main;
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase;
      }

      &.page-breadcrumb {
        color: $main-font;
        font-size: 0.7em;
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase;
      }
    }
  }

  div.year-filter {
    position: absolute;
    right: 0;
    top: 1em;

    span {
      color: $main-font;
      font-size: 0.9em;
      text-transform: capitalize;
    }
  }

  div.filter {
    background-color: $light-gray;
    border-radius: 0.15em;
    // border: 1px solid $main-font;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    margin-top: 1.5em;
    position: relative;
    text-transform: uppercase;

    .subdomain-filter {
      background-color: $white;
      // border-bottom: 1px solid $main-font;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      // position: relative;
      &:before {
        background-color: white;
        border: solid transparent;
        bottom: 67px;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.12), 1px 1px 1px rgba(0, 0, 0, 0.24);
        content: '';
        height: 20px;
        left: 190px;
        pointer-events: none;
        position: absolute;
        transform: rotate(45deg);
        width: 20px;
      }
    }

    .spending-filter,
    .subdomain-filter {
      display: flex;
      flex-direction: row;
      height: 6em;
      overflow: hidden;

      > span {
        color: $main;
        font-weight: bold;
        margin: auto;
        padding: 1em;
      }

      div {
        flex: 1;
        height: 3.5em;
        margin: auto;
        padding: 0 0.5em;
        text-align: center;

        + div {
          border-left: 1px solid $main-font;
        }

        span {
          display: block;

          + span {
            margin-top: 5px;
          }
        }
      }
    }
  }
  div.data-visualization {
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 5%;
    padding: 25px;
    div + div {
      margin-top: 5%;
    }
  }
}
