@import "color";
@import "fonts";
@import "icons";
@import "crossbrowser";
@import "header";
@import "home";
@import "landing";
@import "footer";
// @import "datatables";


html {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.content,
body {
  font-family: "Century Gothic";
  margin: auto;
  min-height: 105%;
  // padding-bottom: 7rem;
  position: relative;
}
body {
  margin: 0;
  padding-bottom: 7rem;
  padding: 0;
  position: relative;
}
